#search-submit {
    height: 40px;
    margin-top: 4em;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
    width: 10em;
}

.question-box{
    padding: 0 210px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    text-align: center;
    cursor: pointer;
}

i {
    padding: 5px;
}

#textWelcome{
    font-size: 16px;
}