th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

.question-box{
    border-spacing: 500px;
    padding-left: 230px;
    padding-right: 230px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}